# Node
node_modules/
dist/
.env

# Android
android/.gradle/
android/build/
android/app/build/
android/local.properties
android/.idea/
android/captures/
android/.kotlin/
*.iml
.cxx
.externalNativeBuild

# iOS
ios/build/
ios/DerivedData/
*.xcuserstate
ios/**/xcuserdata/

# System
.DS_Store
